@model SportsStore.Domain.Entities.ShippingDetails
@{     ViewBag.Title = "SportStore: Checkout"; }
<h2>现在支付</h2> 
请输入你的详细信息, 我们会根据您的信息发货! 
@using (Html.BeginForm()) {   
     @Html.ValidationSummary()  
     <h3>发货到</h3>
    <div>姓名: @Html.EditorFor(x => x.Name)</div>
    <h3>地址</h3>
    <div>Line 1: @Html.EditorFor(x => x.Line1)</div>
    <div>Line 2: @Html.EditorFor(x => x.Line2)</div>
    <div>Line 3: @Html.EditorFor(x => x.Line3)</div>
    <div>城市: @Html.EditorFor(x => x.City)</div>
    <div>区: @Html.EditorFor(x => x.State)</div>
    <div>邮编: @Html.EditorFor(x => x.Zip)</div>
    <div>国家: @Html.EditorFor(x => x.Country)</div>
    <h3>可选项</h3>
    <label>
        @Html.EditorFor(x => x.GiftWrap)         作为礼品包装我的商品

    </label>
    <p align="center">
        <input class="actionButtons" type="submit" value="完成订单" />

    </p>
}